ion-card {
    margin: 16px;
  }
  
  ion-img {
    width: 45%;
    height: auto;
  }
  
  ion-card-title {
    font-size: 1.2em;
    margin-top: 8px;
  }
  
  ion-card-content p {
    margin: 4px 0;
  }
  
  ion-icon {
    margin-right: 4px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }